.product__card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: 0 0 0 1.5px rgba(134, 142, 150, 0.182);
  border-radius: 1rem;
  padding: 1rem 2rem;
  background: #fff;
  cursor: pointer;
}
.product__card__image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100px;
}
.product__card__context {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  align-self: start;
  height: 150px;
  width: 100%;
}
.product__card__price {
  font-weight: 600;
  font-size: 1.6rem;
}
.product__card__reviewAndBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.5rem;
}
.product__card__btn {
  background: var(--main-color);
  border: 0;
  outline: 0;
  padding: 0.8rem 1rem;
  border-radius: 1rem;
  color: var(--light-color);
  align-self: center;
  transition: 0.4s;
  cursor: pointer;
}
.product__card__btn:hover {
  background: var(--light-color);
  box-shadow: 0 0 0 1.5px var(--main-color);
  color: var(--main-color);
}
.review__star {
  color: rgb(255, 186, 24);
}
.toggleSuccMsg.succMsg {
  top: 60px;
}
