/* category */
.category--tab {
  width: 28rem;
  position: absolute;
  top: -80px;
  left: 2%;
  z-index: 888;
  box-shadow: 0 0 0 1.5px rgba(134, 142, 150, 0.204);
  margin-bottom: 2rem;
  border-radius: 1rem;
  padding: 1rem 2rem;
  background: var(--light-color);
}
.tab-category-chevron {
  rotate: 180deg;
  transition: 0.4s;
}
.all--categories {
  display: none;
}
.toggle--categories.all--categories {
  display: block;
}
.toggle--categories.tab-category-chevron {
  rotate: 0deg;
}
