.tabFilter__container {
  position: relative;
}
.tabFilter__box {
  margin-left: 1.5rem;
  padding: 1.5rem 1.5rem;
  background: var(--dark-color);
  height: 100vh;
  color: var(--light-color);
}
.tabFilter__h2 {
  font-weight: 400;
  text-align: center;
  margin-bottom: 2rem;
}

.catToggle {
  margin-bottom: 1rem;
  margin-left: 1rem;
  background: var(--main-color);
  display: none;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem 1.5rem;
  width: 100px;
  color: var(--light-color);
  cursor: pointer;
  user-select: none;
  transition: 0.5s ease-in-out;
  position: fixed;
  top: 22%;
  left: -1%;
  z-index: 99;
}
@media screen and (max-width: 808px) {
  .catToggle {
    display: flex;
  }
  .tabFilter__box {
    position: fixed;
    left: -1000px;
    z-index: 45;
    transition: 0.6s !important;
  }
}
