/* footer */
.footer--container {
  background: #212529;
  padding: 4rem 1.5rem;
  color: var(--light-color);
}
.link--rows {
  display: flex;
  justify-content: space-around;
  gap: 2.5rem;
}
.link--rows a {
  color: var(--grey-three);
  transition: 0.4s;
}
.link--rows a:hover {
  color: var(--main-color);
}
.footerIcons__facebook {
  color: #3b5998;
  font-size: 2.4rem;
}
.footerIcons__twitter {
  color: #00acee;
  font-size: 2.4rem;
}
.footerIcons__youtube {
  color: #c4302b;
  font-size: 2.4rem;
}
.footerIcons__instagram {
  background: radial-gradient(
    circle at 33% 100%,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7 85%,
    #515ecf
  );
  font-size: 2.4rem;
  border-radius: 0.6rem;
}
.jamex__tech {
  color: var(--light-color);
  text-decoration: underline !important;
}

@media screen and (max-width: 608px) {
  .link--rows {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
