nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  font-family: "Baumans", cursive;
  font-size: 2.4rem;
  color: var(--main-color);
  font-weight: 600;
  letter-spacing: 1.5px;
}
.navlinks__row {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.navlinks__col1 {
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  box-shadow: 0 0 0 1.5px var(--grey-two);
  padding: 0.4rem 0.8rem;
  border-radius: 1rem;
}
.navlinks__col1 input {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  padding: 0.8rem 0 0.8rem 1rem;
}
.search__product__btn {
  border: 0;
  outline: 0;
  color: var(--light-color);
  background: transparent;
  cursor: pointer;
}
.search__product__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-color);
  height: 28px;
  width: 28px;
  font-size: 1.4rem;
  border-radius: 50%;
  padding: 0.3rem;
}
.navlinks__col2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
.nav__icon {
  font-size: 2.4rem;
  cursor: pointer;
}
.nav__icon__shopping__bag {
  position: relative !important;
  font-size: 2.4rem;
  cursor: pointer;
}
.cart__items__number {
  height: 18px;
  width: 18px;
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(227, 36, 36);
  color: var(--light-color);
  border-radius: 50%;
  position: absolute;
  z-index: 5;
  top: -35%;
  right: -45%;
}
@media screen and (max-width: 764px) {
  .navlinks__row {
    position: fixed;
    top: 49px !important;
    right: -2000px;
    flex-direction: column;
    background: var(--dark-color);
    color: var(--light-color);
    padding: 2rem 2rem;
    width: 100%;
    height: 100vh;
    justify-content: center;
    gap: 3rem;
    transition: 0.3s;
    z-index: 999;
  }
  .navlinks__col2 {
    justify-content: center;
    gap: 3rem;
  }
  .navlinks__col1 {
    width: 90%;
  }
}
