.hamburger {
  display: none;
  user-select: none;
}
.burger {
  background: rgb(144, 150, 157);
  border-radius: 1rem;
  margin-top: 0.6rem;
  height: 2.4px;
  width: 32px;
  transition: 0.3s;
}
.burger__one {
  margin-top: 0;
}
@media screen and (max-width: 764px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
}
